
header{
    background-color: rgb(224, 239, 243);
    color: rgb(142, 140, 140);
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}
@font-face{
    font-family:'shouxie';
    src:url(../字体/ZiHun81Hao-QingFengTi-2.ttf) format('truetype');
}
p{
    font-family:'shouxie';
}


.close{
    position: absolute;
    font-size: 14px;
    right: 25px;
    top: 20px;
}
a{
    text-decoration: none;
    color: rgb(65, 65, 65);
}