body{
    display: flex;
    justify-content: center; /* 水平居中 */  
    align-items: center; /* 垂直居中 */  
    margin: 20px; /* 移除body的默认边距 */  
    padding: 5px;
}
#table1,tr{
    background-color: rgb(237, 224, 204);
    border: 1.5px double rgb(71, 71, 71);
}
#table2{
    height: 12px;
    background-color: rgb(179, 175, 169);
    border: 1.5px  rgb(71, 71, 71);
}
.first{
    transition: opacity 0.5s ease-in-out;  
}
.second{
    transition: opacity 1.5s ease-in-out;  
}
.word1{
    top: 355px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */   
}
.word2{
    top: 380px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word3{
    top: 405px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */   
}
.word4{
    top: 430px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word5{
    top: 455px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word6{
    top: 480px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word7{
    top: 505px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */   
}
.word8{
    top: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word9{
    top: 555px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word10{
    top: 580px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word11{
    top: 605px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word12{
    top: 630px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word122{
    top: 655px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 530px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}

.hideword{
    width: 200px;
    display: inline;
    position: absolute; /* 使得文字出现在容器的相对位置 */  
    opacity: 0;  
     left: 700px;
    font-size: 15px;
    color: white; /* 你可以设置你想要的文字颜色 */  
    background-color: black; /* 你可以设置你想要的背景颜色 */  
    padding: 5px; /* 你可以设置你想要的内边距 */  
    border-radius: 5px; /* 你可以设置你想要的边框圆角 */  
}

td:hover .hideword{
    display: inline;
    opacity: 1;
}

.word13{
    
    top: 275px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 775px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word14{
    width: 320px;
    top: 300px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 775px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word15{
    top: 325px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 775px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word16{
    width: 250px;
    top: 350px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 775px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word17{
    top: 375px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 775px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word18{
    top: 400px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 775px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word19{
    top: 425px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
    left: 775px; /* 你可以调整这个值使得文字出现在你希望的位置 */  
}
.word20{
    width: 50px;
    font-size: 20px;
    top: 230px;
    left: 600px;
}
.word21{
    top: 210px;
    left: 600px;
}